
django>=2.2,<3.0

python-dotenv==0.10.3

django-cruds-adminlte
#git+https://github.com/oscarmlage/django-cruds-adminlte.git

#django-crispy-forms==1.7.2
django-crispy-forms

easy-thumbnails
django-image-cropping

#djangoajax==2.3.7
djangoajax

#django-utils-six
